<div class="dashboard">
  <section class="dashboard-assets-card">
    <p class="dashboard-assets-card__label">総資産</p>
    <p class="dashboard-assets-card__amount">
  ¥<%= number_with_delimiter(@total_assets) %>
</p>
  </section>
</div>
