@use "../base/index" as i;

/* =========================
 * フッター
 * ========================= */
.footer {
  border-top: 2px solid i.$color-gray;
  background-color: i.$color-white;
  padding: 15px 0;
}

.footer__inner {
  @include i.centering();
  flex-direction: column;
  gap: 10px;
}

.footer__logo {
  width: min(100%, 200px);
}

.footer__logo-image {
  width: 100%;
  height: auto;
}

.footer__copyright {
  display: block;
  @include i.font-set(i.$font-size-sm);
}
