// =====================
// 色
// =====================

// 赤みのある黄色
$color-yellow: #E3C800;

// オレンジ
$color-orange: #e2750f;

// 赤
$color-red: #ca3f34;

// 緑
$color-green: #51a351;

// 白
$color-white: #fff;

// グレイ
$color-gray: #f6f6f6;

// =====================
// フォントサイズ
// =====================

// 12px
$font-size-xs: 12;

// 14px
$font-size-sm: 14;

// 16px
$font-size-md: 16;

// 20px
$font-size-lg: 20;

// 24px
$font-size-xl: 24;

// 30px
$font-size-xxl: 30;

// =====================
// ブレイクポイント
// =====================

// 520px
$breakpoint-sm: 520;

// 768px
$breakpoint-md: 768;

// 1024px
$breakpoint-lg: 1024;

// =====================
// 丸角
// =====================

// 5px
$radius-base: 5px;

// 10px
$radius-md: 10px;

// 20px
$radius-lg: 20px;

// 100vh
$radius-xl: 100vh;
