<footer class="footer">
  <div class="wrap footer__inner">
    <figure class="footer__logo">
      <%= image_tag "logo_pai-budget-book_01.webp",
                    alt: "PaiBudgetBook",
                    class: "footer__logo-image" %>
    </figure>

    <small class="footer__copyright">
      &copy; Shinopai Inc.
    </small>
  </div>
</footer>
