<div class="admin-categories">
  <div class="wrap">
    <div class="admin-categories__header">
  <h1 class="admin-categories__title">サブカテゴリー作成</h1>
</div>

<%= render "form", sub_category: @sub_category %>
  </div>
</div>
