<div class="categories">
  <div class="wrap">
    <div class="categories__header">
      <h1 class="categories__title">カテゴリー作成</h1>
    </div>

    <%= render "form", category: @category %>
  </div>
</div>
